.global_footer {
    background-color: var(--dark-grey);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    max-width: 1440px;
    img {
        width: 100px;
        height: auto;
        object-fit: cover;
    }
    .footer_contact {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 20px;
        font-family: 'Just Another Hand', cursive;
        font-family: 'Kurale', serif;
        color: var(--white-color);

    }
}


/*80% MAX WITH ON TABLET AND ABOVE*/
@media (min-width: 768px) {
    .global_footer {
        max-width: 80%;
    }
}