.message_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    width: 100%;
}

.search_message_bar {
    position: fixed;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    input {
        padding: 10px;
        border: none;
        border-radius: 5px;
        width: 100%;
        font-size: 22px;
        background-color: var(--dark-grey);
        color: var(--white-color);
        width: 500px;
    }
}

.message_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 50px;
}

.message_card {
    width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
    background-color: var(--light-beige);
    border-radius: 10px;
}



.message_name {
    font-size: 1.2rem;
    color: var(--white);
    margin: 0;
}

.message_description {
    font-size: 16px;
    color: var(--dark-grey);
    margin: 0;
    text-align: center;
}

.message_actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.edit_link, .delete_link {
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-grey);
    color: var(--white-color);
    cursor: pointer;
    transition: 0.3s ease;
    width: 100px;
    text-align: center;
}


