.center-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%; 
  margin: 0 auto; 
}

.page {
  width: 100%;
  max-width: 1440px;
  
}

.page-backoffice {
  width: 100%;
}

/*MAX WIDTH TO 80% ON TABLET AND ABOVE*/
@media (min-width: 768px) {
  .page {
    max-width: 80%;
  }
}