.dishes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Just Another Hand', cursive;
    margin-bottom: 100px;
    color: var(--black-alternative);
 
    .dishes_title {
        
        font-size: 38px;
        text-shadow: 0px 5px 6px rgba(0,0,0,0.44);
        
    }
    .dishes_subTitle {
        padding-bottom: 30px;
        font-size: 25px;
    }
    .categories {
        background-color: var(--light-beige);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 15px;
        width: 100%;

        .category {
            width: 33.33%;
            max-width: 200px;
            width: 350px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
            h3 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                font-size: 40px;
                line-height: 30px;
                color: var(--white-color);
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--black-alternative);
            }

        }
    }
}

.dishes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    row-gap: 35px;
    
    

    .dish {
        width: 33.33%;
        max-width: 200px;
        
        max-height: 300px;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        .image_container {
            width: 100%;
            height: 10%;
        }

        img {
            aspect-ratio: 1/1;

           width: 100%;
            height: 100%;
           object-fit: cover;
            
        }
        h3 {
    
          font-family: 'Kurale', serif;
            text-align: center;
            font-size: 20px;
            line-height: 30px;
            color: var(--white-color);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgb(58, 58, 58);
            z-index: 3;
        }
    }
}


.image_overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.171);
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    button {
        padding: 10px 15px;
        border: none;
        background-color: var(--light-beige);
        color: var(--black-alternative);
        font-family: 'Kurale', serif;
        border-radius: 5px;
        
        font-size: 18px;
        cursor: pointer;
        &:hover {
            color: var(--black-alternative);
            
        }
    }

    span {
        font-family: 'Kurale', serif;
        font-size: 18px;
        color: var(--black-alternative);
    }
}


.dish_search {
   margin-top: 60px;
  
   padding: 10px 15px;
    border: 1px solid var(--dark-grey);
    border-radius: 5px;
    font-family: 'Kurale', serif;
    font-size: 18px;
    width: 90%;
    max-width: 350px;
    background-color: var(--light-beige);
    color: var(--white-color);
}


/* Tablet up to 1080 */
@media (min-width: 481px) and (max-width: 1080px) {
    .dishes_container {
        .dishes_title {
            font-size: clamp(2.375rem, 1.2709rem + 3.6728vw, 3.75rem);
        }
        .dishes_subTitle{
            font-size: clamp(1.5625rem, 1.0606rem + 1.6694vw, 2.1875rem);
        }

        .categories {
            .category {
                h3 {
                    font-size: clamp(2.5rem, 1.2453rem + 4.1736vw, 4.0625rem);
                }
            }
        }
    }

    .dishes {
        margin-top: 50px;
        .dish {
            h3 {
                font-size: clamp(1.25rem, 0.2462rem + 3.3389vw, 2.5rem);
            }
        }
    }

    
   
    
}



/* Større desktop */
@media (min-width: 1080px) and (max-width: 1440px) {
    .dishes_container {
        .dishes_title {
            font-size: clamp(2.375rem, 1.2709rem + 3.6728vw, 3.75rem);
        }
        .dishes_subTitle{
            font-size: clamp(1.5625rem, 1.0606rem + 1.6694vw, 2.1875rem);
        }

        .categories {
            .category {
                h3 {
                    font-size: clamp(2.5rem, 1.2453rem + 4.1736vw, 4.0625rem);
                }
            }
        }
    }

    .dishes {
        margin-top: 50px;
        .dish {
            h3 {
                font-size: clamp(1.25rem, 0.2462rem + 3.3389vw, 2.5rem);
            }
        }
    }
}

/*4K*/
@media (min-width: 1440px) {
    .dishes_container {
        .dishes_title {
            font-size: clamp(2.375rem, 1.2709rem + 3.6728vw, 3.75rem);
        }
        .dishes_subTitle{
            font-size: clamp(1.5625rem, 1.0606rem + 1.6694vw, 2.1875rem);
        }

        .categories {
            .category {
                h3 {
                    font-size: clamp(2.5rem, 1.2453rem + 4.1736vw, 4.0625rem);
                }
            }
        }
    }

    .dishes {
        margin-top: 50px;
        .dish {
            h3 {
                font-size: clamp(1.25rem, 0.2462rem + 3.3389vw, 2.5rem);
            }
        }
    }
}


/*TABLET AND ABOVE ONLY MEDIA QUERY*/

@media (min-width: 768px) {
    .dish {
        width: 350px;
    }
  }
